.movie-card {
  border: 1px solid #c0c0c0;
  cursor: pointer;
  min-height: 360px;

  img {
   width: 100%;
  }

  &--title {
    margin: 5px 0px;
    min-height: 60px;

    div:nth-child(2) {
      font-size: 12px;
    }
  }

  &--content {
    margin: 5px;
    overflow: hidden;
  }

  &--overview {
    height: 35px;
    font-size: 12px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
}