.Search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  position: relative;

  &-icon {
    position: absolute;
    left: 4%;
  }

  &-input {
    height: 30px;
    width: 100%;
    border-radius: 20px;
    padding-left: 60px;
  }
}